@model appLab.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesctiptionEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesctiptionEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationDateEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationDateEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationTimeEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationTimeEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.LastName)
            @Html.DisplayFor(model => model.Client.FirstName) 
            @Html.DisplayFor(model => model.Client.Patronymic) 
            @Html.DisplayFor(model => model.Client.IdendificationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
